<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Joke API</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

  <form action="/" id="form" class="form" method="POST">
    <label for="category">Category:</label>
    <select name="categories" class="form-select">
      <option value=""></option>
      <option value="Any">Any</option>
      <option value="Programming">Programming</option>
      <option value="Misc">Misc</option>
      <option value="Dark">Dark</option>
      <option value="Pun">Pun</option>
      <option value="Spooky">Spooky</option>
      <option value="Christmas">Christmas</option>
    </select>

    <label for="flag">Flags:</label>
    <select name="flags" class="form-select">
      <option value=""></option>
      <option value="nsfw">NSFW</option>
      <option value="religious">Religious</option>
      <option value="political">Political</option>
      <option value="racist">Racist</option>
      <option value="sexist">Sexist</option>
      <option value="explicit">Explicit</option>
    </select>

    <label for="amountofjokes">Amount of Jokes:</label>
    <input type="text" name="amount">
    <button type="submit" class="form-submit">Get Joke</button>
  </form>

  <% if (locals.content) { %>
    <div class="card">
      <h3>Here’s your joke:</h3>
      <p><%- content %></p>
    </div>
  <% } else { %>
    <p>Waiting for input...</p>
  <% } %>


</body>
</html>
